<section class="about-us-wrapper">
  <div class="container">
    <div class="section-about-us-wrapper">
      <div>
        <h2 class="about-us-title">About Us</h2>

        <p class="about-us-text-1">
          The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
          vyshyvanka comes to life with new zest and style. Our store offers a
          wide selection of high-quality and authentic embroidery, which
          combines the elegance of traditional needlework and modern design.
        </p>
        <p class="about-us-text-2">
          In "Vyshyvanka Vibes" you will find various models of embroidery, from
          classic to modern, corresponding to the latest fashion trends. Our
          embroidery is made using natural fabrics and is embroidered by highly
          qualified craftsmen who convey the beauty of Ukrainian culture in
          every detail.We believe that vyshyvanka is not just clothing, but a
          symbol of national pride, the heritage of our ancestors and a way of
          expressing one's individuality. Each embroidery from "Vyshyvanka
          Vibes" has its own unique history and symbolism, which gives it a
          special meaning.
        </p>
      </div>

      <div>
        <picture>
          <!-- desktop 1440px screen -->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/desktop1440/about-desktop1440.jpg    1x,
              ./img/desktop1440/about-desktop1440@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- desktop 1280px screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/about-desktop.jpg    1x,
              ./img/desktop/about-desktop@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/tablet/about-tablet.jpg    1x,
              ./img/tablet/about-tablet@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/mobile/about-mobile.jpg    1x,
              ./img/mobile/about-mobile@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="about-us-vyshyvanka"
            src="./img/mobile/about-mobile.jpg"
            alt="example of vyshyvanka with ornament"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
