<header class="main-page "> 
    <div class="main-cont container">
    <nav class="page-nav">
          <a class="logo" href="./index.html">
                <img  src="../img/logo (1).svg" alt="logo" >
            </a>
      
        <ul class="menu-list">
            <li class="menu-item">
                <a class="menu-list-item" href="#about-us">About  us </a></li>
            <li class="menu-item">
                <a class="menu-list-item" href="#our-collection">Our collection </a></li>
            <li class="menu-item">
                <a class="menu-list-item" href="#your-order">CUSTOMER ORDER</a></li>
                <li class="menu-item">
                    <a class="menu-list-item" href="#testimonials">TEstimonials</a></li> 
                    <!-- 
                        href="#about-us"
                        href="#our-collection"
                        href="#your-order"
                        href="#testimonials"
                        Для якірних посилань
                     -->
        </ul>
    </nav>
    
    <address class="menu-address-list">
        <div class="address-nav">
        <ul class="menu-address-list-item">
            <li >
                 <a class="menu-addres-list-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
            </li>
        </ul>
    </div>
    </address>
    <div class="social-page">
    <ul class="social-list"> 
        <li class="social-list-link"> 
            <a class="social-list-link-icon" href="https://www.facebook.com/goITclub/"  target="_blank">
            <svg class="social-list-icon" width="28" height="28">
                <use href="../img/icon.svg#icon-facebook"></use>
            </svg>
        </a>
        </li>
        <li class="social-list-link">
            <a class="social-list-link-icon" href="https://www.instagram.com/goitclub/ "  target="_blank">
            <svg  class="social-list-icon" width="28" height="28">
                <use href="../img/icon.svg#icon-instagram" ></use>
            </svg>
        </a>
        </li>
        <li class="social-list-link">
            <a class="social-list-link-icon" href="https://www.youtube.com/c/GoIT "  target="_blank">
            <svg class="social-list-icon" width="28" height="28" >
                <use href="../img/icon.svg#icon-youtube"></use>
            </svg>
        </a>
        </li>
    </ul>
    <button class="mobile-open-btn js-open-menu" type="button">
        <svg class="mobile-open-btn-icon" width="36" height="24">
          <use href="../img/icon.svg#icon-nav"></use>
        </svg>
      </button>
    </div>
</div> 
</header>
<div class="mobile-menu js-menu-container">
    <div class="mobile-menu-container">
        <div class="mobile-head">
        <address class="menu-address-list">
            <div class="address-nav">
            <ul class="menu-address-list-item-mobile">
                <li >
                     <a class="menu-addres-list-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
                </li>
            </ul>
        </div>
        </address>
        <button
        class="modal-close-btn js-close-menu"
        type="button"
        aria-label="modal close button">
        <svg class="modal-close-btn-icon" width="36" height="36">
          <use href="../img/icon.svg#icon-close"></use>
        </svg>
      </button>
    </div>
      <nav class="page-nav-mobile">
        <ul class="menu-list-mobile">
          <li class="menu-item-mobile">
            <a class="menu-addres-list-link-mobile-navig" href="#about-us">About us</a>
        </li>
          <li class="menu-item-mobile">
            <a class="menu-addres-list-link-mobile-navig" href="#our-collection">Our collection </a>
        </li>
          <li class="menu-item-mobile">
            <a class="menu-addres-list-link-mobile-navig" href="your-order">CUSTOMER ORDER</a>
        </li>
    </li>
    <li class="menu-item-mobile">
      <a class="menu-addres-list-link-mobile-navig" href="#testimonials">TEstimonials</a>
  </li>
        </ul>
      </nav>
    </div>
  </div>