<section class="hero">
  <div class="container hero-container flex-hero-container">
    <div class="main-title-link-container">
      <h1 class="main-title">
        Reviving the traditional
        <span class="main-title-ukr-word">Ukrainian</span> artistry in every
        stitch.
      </h1>
      <div class="order-link-container">
        <a class="order-link" href="#your-order">
          order
          <svg class="order-link-icon" width="26" height="10">
            <use href="./img/icon.svg#icon-untitled"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="icon-star-container">
      <svg class="icon-star" width="52" height="51">
        <use href="./img/icon.svg#icon-star"></use>
      </svg>
      <p class="icon-star-text">all embroidery is made by hand</p>
    </div>
    <div class="pictures-container">
      <picture>
        <!-- Dekstop screen -->
        <source
          media="(min-width: 1280px)"
          srcset="./img/desktop/hero.jpg 1x, ./img/desktop/hero@2x.jpg 2x"
          type="image/jpg"
        />
        <!-- Tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/tablet/hero-tablet.jpg    1x,
            ./img/tablet/hero-tablet@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- Mobile screen -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/mobile/hero-mobile.jpg    1x,
            ./img/mobile/hero-mobile@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="hero-img"
          src="./img/desktop/hero.jpg"
          alt="Girl in ukrainian shirt"
          width="392"
          height="545"
          loading="lazy"
        />
      </picture>
      <picture>
        <!-- Dekstop screen -->
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/desktop/hero-content-desktop.jpg    1x,
            ./img/desktop/hero-content-desktop@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- Tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/tablet/hero-ukraine.jpg    1x,
            ./img/tablet/hero-ukraine@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="hero-ukraine-img"
          src="./img/desktop/hero-content-desktop.jpg"
          alt="Zoom of ukrainian shirt"
          width="142"
          height="156"
          loading="lazy"
        />
      </picture>
      <!--
        <img
        class="hero-img"
        src="./img/mobile/hero-mobile.jpg"
        srcset="
          ./img/mobile/hero-mobile.jpg    335w,
          ./img/mobile/hero-mobile@2x.jpg 670w,
          ./img/tablet/hero-tablet.jpg    413w,
          ./img/tablet/hero-tablet@2x.jpg 826w,
          ./img/desktop/hero.jpg          392w,
          ./img/desktop/hero@2x.jpg       784w
        "
        sizes="(min-width: 1280px) 392px, (min-width: 768px) 413px, (max-width: 767px) 335px"
        alt="Girl in ukrainian shirt"
      />
      <img
        class="hero-ukraine-img"
        src="../img/tablet/hero-ukraine.jpg"
        srcset="
          ../img/tablet/hero-ukraine.jpg             157w,
          ../img/tablet/hero-ukraine@2x.jpg          314w,
          ../img/desktop/hero-content-desktop.jpg    142w,
          ../img/desktop/hero-content-desktop@2x.jpg 284w
        "
        sizes="(min-width: 1280px) 142px, (min-width: 768px) 157px"
        alt="Zoom of ukrainian shirt"
      />
      -->
    </div>
  </div>
</section>
