<section class="testimonials container">
    <h1 class="testimonials-title">Testimonials</h1>
    <ul class="testimonials-list">
        <li class="testimonials-item">
            <div class="testimonials-container">
                <picture class="testimonials-thumb">
                <source media="(min-width:1280px)" srcset="./img/desktop/testimonials-1-desktop.png 1x, ./img/desktop/testimonials-1-desktop@2x.png 2x"
                    type="image/png" >
                <source media="(min-width:768px)" srcset="./img/desktop/testimonials-1-desktop.png 1x, ./img/desktop/testimonials-1-desktop@2x.png 2x"
                    type="image/png">
                <source media="(max-width:767px)" srcset="./img/mobile/testimonials-mobile.png 1x, ./img/mobile/testimonials-mobile@2x.png 2x"
                    type="image/png">
                <img class="testimonials-img" src="../img/desktop/testimonials-1-desktop.png" width="64" height="64" alt="Woman" />
            </picture>
            <h2 class="testimonials-name">Maria Tkachuk</h2>
            <p class="testimonials-text">I was pleasantly surprised by the variety of embroidery offered by Vyshyvanka
                Vibes. They have models for every taste -
                from classic to modern. I bought an embroidered dress to celebrate a special occasion and received
                impeccable service
                and refinement in every detail.</p></div>
            
        </li>
        <li class="testimonials-item rybachok">
            <div class="testimonials-container">
            <picture class="testimonials-thumb rybachok">
                <source srscet="../img/desktop/testimonials-2-desktop.png 1x, ../img/desktop/testimonials-2-desktop@2x.png 2x"
                    type="image/png" media="(min-width:1280px)">
                <source srscet="../img/tablet/testimonials-2-tablet.png 1x, ../img/tablet/testimonials-2-tablet@2x.png 2x"
                    type="image/png" media="(min-width:768px)">
                <img src="../img/desktop/testimonials-2-desktop.png" width="64" height="64" alt="Man"/>
            </picture>
            <h2 class="testimonials-name">Sergey Rybachok</h2>
            <p class="testimonials-text">Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are simply
                masterpieces! I fell in love with the quality
                of the materials and the skill of the artisans behind each product. This is my favorite embroidery shop
                where I always
                find something special and unique.</p>
                </div>
        </li>
        <li class="testimonials-item chatuk">
            <div class="testimonials-container">
            <picture class="testimonials-thumb chatuk">
            <source srscet="../img/mobile/testimonials-3-mobile.png 1x, ../img/mobile/testimonials-3-mobile@2x.png 2x"
                type="image/png" media="(max-width:767px)">
            <img src="../img/desktop/testimonials-3-desktop.png" width="64" height="64" alr="Woman"/>
            </picture>
            <h2 class="testimonials-name">Natalia Chatuk</h2>
            <p class="testimonials-text">Vyshyvanka Vibes is a real find for everyone who appreciates Ukrainian culture.
                Their embroidery reflects the spirit and
                traditions of our people. I not only buy embroidered shirts for myself, but also give them to my friends
                abroad as a
                symbol of our beauty and national pride.</p>
            </div>
        </li>
    </ul>
</section>