body {
  font-family: 'Manrope', sans-serif;
  background-color: #1c2225;
  color: rgba(252, 249, 249, 1);   
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 367px;
  }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 736px;
    }
  }
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1113px;
    }
  }

  @media screen and (min-width: 1440px) {
    .container {
        max-width: 1272px;
    }

  }