   
   @media screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) and (max-width: 767px), screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .section-collection {
        background-image: url(../img/mobile/collection-bg-mobile@2x.png);
    }
   } 
   .section-collection {
    padding-bottom: 80px;
    padding-top: 18px;
    background-image: url(../img/mobile/collection-bg-mobile.png);
    background-repeat: no-repeat;
    background-position: 0% 10.5%;
   }

   
  .title-collection {
      margin: 0 auto;
      width: 198px;
      margin-bottom: 40px;
      font-size: 32px;
      font-weight: 500;
      line-height: 1.3;
      letter-spacing: -0.03em;
      text-align: left;
      color: rgba(252, 249, 249, 1);
  }

  .collection-item {
    border-radius: 4px;
    margin-bottom: 18px;
  }

  .text-item {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-align: left;
    text-transform: uppercase;
  }

  .price-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-align: left;
    color: rgba(252, 249, 249, 0.4);
    margin-top: 8px;
  }

  .collection-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

    @media screen and (min-width: 768px) and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .section-collection {
    background-image: url(../img/tablet/collection-bg-tablet@2x.png);
    }
    }

 @media screen and (min-width: 768px) {
     .container {
         max-width: 736px;
     }

    .section-collection {
    padding-bottom: 100px;
    padding-top: 50px;
    background-image: url(../img/tablet/collection-bg-tablet.png);
    background-repeat: no-repeat;
    background-position: -0.14% 16%;
    }

    .title-collection {
    width: 272px;
    margin-bottom: 40px;
    font-size: 44px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.03em;
    text-align: left;
    color: rgba(252, 249, 249, 1);
    margin-left: 238px;

    }

    .collection-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 20px;
    justify-content: center;
    }

    .collection-li {
    max-width: 342px;
    flex-basis: calc((100% - 20px) / 2);
    }
 }

 @media screen and (min-width: 1280px) and (min-resolution: 192dpi),
 screen and (min-resolution: 2dppx) and (min-width: 1280px),
 screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
    .section-collection {
    background-image: url(../img/desktop/collection-ornament-bg-desktop@2x.png);
    }
 }

 @media screen and (min-width: 1280px) {
     .container {
         max-width: 1113px;
        }
    
.section-collection {
    padding-bottom: 150px;
    padding-top: 70px;
    background-image: url(../img/desktop/collection-bg-desktop.png);
    background-repeat: no-repeat;
    background-position: -0.14% 23%;
}

.collection-list {
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 20px;
row-gap: 40px;
justify-content: center;
}

    .collection-li {
    max-width: 347px;
    flex-basis: calc((100% - 20px) / 2);
    }

    .title-collection {
    font-size: 44px;
    font-weight: 500;
    margin: 0 auto;
    width: 272px;
    margin-bottom: 40px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    text-align: left;
    color: rgba(252, 249, 249, 1);
    }
 }
