/* MOBILE ORDER STYLE */
.picture-vyshivanka{
    display: none;
}
.order-bg-img{
    min-width: 375px;
    height: 550px;
    margin-bottom: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
.order-title{
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.375;
    letter-spacing: -0.03em;
    color: #FCF9F9;
}
.order-words{
color:#ECD979;
}
.order-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 20px;
}
.order-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text-form{
height: 47px;
width: 100%;
padding: 14px 16px;
border: 1px solid rgba(252, 249, 249, 0.10);
border-radius: 8px;
background-color: inherit;
font-size: 14px;
font-weight: 400;
line-height: normal;
letter-spacing: -0.02em;
color: rgba(252, 249, 249, 0.50);
}
.comments-form{
    height: 196px;
    width: 100%;
    resize: none;
}
.send-btn{
    display:inline-flex;
    height: 49px;
    width: 145px;
    padding: 14px 36px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #FCF9F9;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.order-send-icon{
    line-height: 0;
}
.picture{
    background-image: url(../img/mobile/order-bg-mobile.jpg);
}
/* MOBILE ORDER STYLE /*/

/* TABLET ORDER STYLE */
@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }
    .order{
        background-image: url(../img/tablet/order-ornament-bg-tablet.png);
        background-position:bottom left;
        background-repeat: no-repeat;
        background-size: 322px 481px;
        position: relative;

    }
 @media(min-resolution: 192dpi), (min-resolution: 2dppx) {
.order {
 background-image: url(../img/tablet/order-ornament-bg-tablet@2x.png); 
 background-size: 322px 481px;
}
 }
    .order-bg-img{
        width: 768px;
        height: 776px;
        margin-bottom: 100px;
    }
.order-title {
max-width: 542px;
font-size: 44px;
line-height: 1.318;
letter-spacing: -0.03em;
margin-right: 0;
margin-left: 0;
}
.text-form {
    height: 50px;
    width: 508px;
}
.comments-form {
    height: 196px;
     width: 508px;
}
.send-btn {
margin-right: 0;
margin-left: 0;
margin-bottom: 100px;
}
 .picture-vyshivanka {
     display: block;
     width:638px;
     height: 615px;
     border-radius: 4px;
     margin-left: 98px;
     padding-bottom: 94px;
 }
 }
/* TABLET ORDER STYLE /*/
@media screen and (min-width: 1280px) {
    .container {
        max-width: 1113px;
    }
     .order-bg-img {
        width: 1282px;
        height: 776px;
        margin-bottom: 150px;
}
.picture-vyshivanka{
display: flex;
flex-direction: row;
padding-right: 50px;
}
.container-desktop{
    display:flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: nowrap;
    gap: unset;
}
.order-container{
    padding-left:  0;
}
.send-btn{
    margin-bottom: 0;
}
}